@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

#cabecalho {
    text-align: center;
    font-size: 1cm;
    margin-bottom: 30px;
    font-family: sans-serif;
    background-color: rgb(255, 254, 235);;
}

#body {
    background-color: rgb(255, 254, 235);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.geral {
    text-align: center;

}

button {
    border: 2px solid rgb(58, 127, 255);
    border-radius: 5px;
    background-color: rgb(190, 213, 255);
    color: rgb(58, 127, 255);
    text-align: center;
    padding: 5px;
  }

  input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 254, 235);
  }

  #tarefas {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }


:checked + label {
    text-decoration: line-through;
    color: rgb(184, 184, 184);
  }